<div class="bread-crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  <ul>
    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">loja</span></a>
      <meta itemprop="position" content="1">
    </li>
    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="/departamento" itemprop="item"><span itemprop="name">Departamento</span></a>
      <meta itemprop="position" content="2">
    </li>
    <li class="last" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="/departamento/categoria" itemprop="item"><span itemprop="name">Categoria</span></a>
      <meta itemprop="position" content="3">
    </li>
  </ul>
</div>