@import '../../utils/mixins';

.productCard {
  text-align: left;
  width: 16rem;
  max-width: 16rem;
  padding: 0 1rem 37px;
  min-width: 206px;
  margin: 9px auto;
  border-radius: 10px;
  border: solid 0.2px #d9d9d9;
  position: relative;
  background-color: #fff;

  &__skuSelector-wrapper {
    position: relative;
    top: 47px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    border: 1px solid #f3f3f3;
    border-top: none;
    width: 240px;
    margin-top: 20px;
  }

  &--hasSkuSelector {
    .sku-selector {
      width: 100%;
    }

    .productCard__price {
      position: relative;
      top: 40px;
    }

    .variation__combo-wrapper {
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }

  &--buyTogetherItem {
    .productCard__sku-selector {
      display: none;
    }

    .pretty {
      z-index: 10;
    }

    .productCard__price::after {
      content: "";
      background: #d9d9d9;
      height: 1px;
      width: 120%;
      margin-top: 10px;
      margin-left: -15px;
      margin-right: -15px;
    }

    .productCard__name {
      height: 10px;
    }

    .productCard__buy {
      display: none!important;
    }

    .productCard__variations {
      display: none;
    }

    .productCard__price {
      top: 0px;
    }

    .productCard__checkbox::after {
      content: "Selecionar";
      font-size: 14px;
      margin-left: 80px;
    }

  }

  @include desktop-mid {
    max-width: 13rem;
  }

  @include mobile {
    max-width: 11rem;
    min-width: 100px;
    height: 420px;    
  }

  @media (max-width: 375px) {
    max-width: 165px;
  }

  @media (max-width: 345px) {
    max-width: 155px;
  }

  @media (max-width: 325px) {
    max-width: 145px;
    padding: 0 12px 37px;
  }

  @media (max-width: 300px) {
    max-width: 11rem;
    min-width: 100px;
    padding: 0 1rem 37px;
  }

  &__flag {
    display: none;

    &--span {
      position: absolute;
      left: 0;
      background: #c4300e;
      padding: 0.25rem 0.5rem;
      font-weight: 800;
      font-size: 12px;
      color: #fff;
      line-height: 16px;
      letter-spacing: -0.4px;
      min-width: 4rem;
      z-index: 10;
      top: 0;
    }
  }

  &__image {
    height: auto;
    width: 100%;
    text-align: center;
    border: 0.2px solid #d9d9d9;
    border-radius: 10px;
    position: relative;
    margin-top: 12px;

    &:hover > .productCard__link img {
      opacity: 0.5;
    }

    &:hover ~ .productCard__link > .productCard__name {
      color: #c4300e;
    }

    &:hover > .productCard__sku-selector {
      opacity: 1;
      visibility: visible;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 214px;
      border-radius: 10px;
    }
  }

  &__skuSelector {
    position: absolute;
    width: 100%;
    padding: 1rem 0;

    left: 0;

    display: flex;
    justify-content: center;

    border-top: 0;
    border: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;

    margin-bottom: 2rem;
  }

  &__link {
    text-decoration: none;
    display: block;
    margin: 12px auto 6px;
    position: relative;
  }

  &__brand {
    text-align: left;
    margin: {
      top: 18px;
    }
    font-weight: bold;
    font-size: 10px;
    color: #666666;
    letter-spacing: 0.5px;
    line-height: 22.5px;
    text-transform: uppercase;
    display: block;
  }

  &__name {
    font-size: 16px;
    margin: 8px 0 17px 0;
    color: #000;
    box-sizing: content-box;
    line-height: 22.5px;
    padding: 0.5rem 0;
    display: block;
    text-align: left;
    height: 40px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    overflow: hidden;
    -webkit-line-clamp: 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:hover {
      color: #ef7b00;
    }
  }

  &__price--condition {
    display: none;
  }

  &__sku-selector {
    display: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ef7b00;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border-radius: 10px;
    margin: 24px 0 17px;

    &:hover {
      display: block !important;
    }

  }

  .productCard:hover {
    &__sku-selector{
      display: block;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: {
      bottom: 0.375rem;
    }

    height: auto;

    &--best {
      margin: {
        right: 14px;
      }

      font-weight: bold;
      font-size: 22px!important;
      color: #ef7b00;
      letter-spacing: -0.11px;
      line-height: 24px;
    }

    &--old {
      font-size: 16px;
      color: #666666;
      letter-spacing: -0.08px;
      line-height: 24px;
      text-decoration: line-through;      
    }

    &--hidden {
      display: none;

      .productCard__price {
        &--old {
          display: none;
        }
      }
    }

    &--visible {
      .productCard__price {
        &--old {
          display: block;
        }
      }
    }
  }

  &__installments {
    display: block;
    font-size: 12px;
    color: #666666;
    letter-spacing: -0.06px;
    text-align: left;
    line-height: 14px;
    font-weight: 400;
    margin: {
      top: 8px;
    }

    @include mobile {
      font-size: 8px;
    }

    &--strong {
      font-size: 12px;
      color: #666666;
      letter-spacing: -0.06px;
      text-align: left;
      line-height: 14px;
    }
  }

  &__buy {
    display: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ef7b00;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    border-radius: 10px;
    margin: 24px 0 17px;
    @include mobile {
      margin: 10px 0 8px;
      width: 70%;
    }
  }

  &__wishList {
    display: flex !important;
    position: absolute;
    bottom: 11px;
    z-index: 10;
    right: 15px;
    font-size: 20px;

    outline: none;

    &:after {
      display: block;
      content: '\f004';
      font-weight: 400;
      font-family: 'Font Awesome 5 Free';
      color: #ef7b00;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }

    &--active {
      color: red;

      &:after {
        font-weight: 900;
      }
    }
  }

  &__unavailable {
    display: none;

    &--hidden {
      display: none;
    }

    &--visible {
      cursor: pointer;
      color: #fff;
      outline: 0;
      height: 50px;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;
      background: #666 !important;
    }
  }

  &__unavailable-buy {
    &--hidden {
      display: none;
    }
  }

  @media (max-width: 991px) {
    &__price {
      &--old {
        font-size: 12px;
        line-height: 20px;
      }

      &--best {
        font-size: 18px !important;
        line-height: 24px;
      }
    }
  }

  &:hover {
    padding-bottom: 0;
    @media (min-width: 991px) {
      .productCard__buy{
        display: block;
      }      
    }
  }
}
.js-shelf-product {
  width: 100%;
}
.productCard:hover .productCard__sku-selector {
  display: block;
}

.productCard__link {
  &:focus {
    outline: 0 !important;
  }
}
