<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/vestuario">Vestuário</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/vestuario">Vestuário</a>
    </span>

    <div class="menuToggle__group-sub-items-content">
      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/baby-body">Baby Body</a>
      </span>  
      
      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/bones-e-chapeus">Bonés e Chapéus</a>
        <!-- <ul class="menuToggle__menu-list-sub-link-content-two">
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/bones-e-chapeus/bones-aba-curva"> Boné Aba Curva</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/bones-e-chapeus/bones-aba-reta"> Boné Aba Reta</a></li>
        </ul> -->
      </span>

      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/calcas">Calças</a>
        <!-- <ul class="menuToggle__menu-list-sub-link-content-two">
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/calcas/calca-jeans"> Calça Jeans</a></li>
        </ul> -->
      </span>

      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/camisetas">Camisetas</a>
        <!--<ul class="menuToggle__menu-list-sub-link-content-two">
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/camisetas/camisa-polo"> Camisa Polo</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/camisetas/camiseta-baby-longa"> Camiseta Baby Look</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/camisetas/camiseta-manga-curta"> Camiseta Manga Curta</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/camisetas/camiseta-manga-longa"> Camiseta Manga Longa</a></li>
        </ul>-->
      </span>

      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/capas">Capas</a>
        <!-- <ul class="menuToggle__menu-list-sub-link-content-two">
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/capas/harry-potter"> Harry Potter</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/capas/naruto"> Naruto</a></li>
        </ul> -->
      </span>

      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/inverno">Inverno</a>
        <!-- <ul class="menuToggle__menu-list-sub-link-content-two">
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/inverno/cachecol"> Cachecol</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/inverno/casacos"> Casacos</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/inverno/jaquetas"> Jaquetas</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/inverno/meias"> Meias</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/vestuario/inverno/moletom"> Moletom</a></li>
        </ul> -->
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/saias">Saias</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/shorts">Shorts</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/special-edition">Special Edition</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/vestuario/vestidos">Vestidos</a>
      </span>

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/acessorios">Acessórios</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/acessorios">Acessórios</a>
    </span>

    <div class="menuToggle__group-sub-items-content">
      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/bandanas">Bandanas</a>
      </span>

      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/bolsas-e-mochilas">Bolsas & Mochilas</a>
        <!-- <ul class="menuToggle__menu-list-sub-link-content-two">
          <li><a class="menuToggle__menu-list-sub-link-two" href="/acessorios/bolsas-e-mochilas/bolsas"> Bolsas</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/acessorios/bolsas-e-mochilas/carteiras"> Carteiras</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/acessorios/bolsas-e-mochilas/lancheiras"> Lancheiras</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/acessorios/bolsas-e-mochilas/mochilas"> Mochilas</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/acessorios/bolsas-e-mochilas/necessarie"> Necessaire</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/acessorios/bolsas-e-mochilas/porta-moeda"> Porta Moeda</a></li>
        </ul> -->
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/chaveiros">Chaveiros</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/chinelos">Chinelos</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/cintos-e-suspensorios">Cintos & Supensórios</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/mascaras">Máscaras</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/patches">Patches</a>
      </span>

      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
        <a class="menuToggle__menu-list-sub-link" href="/acessorios/pins">Pins</a>
      </span>

      <span class="menuToggle__menu-list-sub-item menuToggle__menu-list-sub-item--active">
          <a class="menuToggle__menu-list-sub-link" href="/acessorios/bijuterias">Bijuterias</a>
      </span>

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/colecionaveis">Colecionáveis</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/colecionaveis">Colecionáveis</a>
    </span>

    <div class="menuToggle__group-sub-items-content">

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/colecionaveis/actionS-figures">Actions Figures</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/colecionaveis/estatuetas">Estatuetas</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/colecionaveis/jogos">Jogos</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/colecionaveis/pelucias">Pelúcias</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/colecionaveis/toys">Toys</a>
      </span>      

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/funko">Funkos</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/funko">Funkos</a>
    </span>

    <div class="menuToggle__group-sub-items-content">

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/funko/pop">Pop!</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/funko/special-edition">Special Edition</a>
      </span>     

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/casa-e-decoracao">Casa & Decoração</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/casa-e-decoracao">Casa & Decoração</a>
    </span>

    <div class="menuToggle__group-sub-items-content">  

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/casa-e-decoracao/almofadas">Almofadas</a>
      </span>  

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/casa-e-decoracao/acessorios-de-cozinha">Acessorios de Cozinha</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/casa-e-decoracao/canecas">Canecas</a>
      </span> 

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/casa_decoracao/copos-e-garrafas">Copos & Garrafas</a>
        <!-- <ul class="menuToggle__menu-list-sub-link-content-two">
          <li><a class="menuToggle__menu-list-sub-link-two" href="/casa_decoracao/copo-garrafas/copo-canudo"> Copo Canudo</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/casa_decoracao/copo-garrafas/copo-termico"> Copo térmico</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/casa_decoracao/copo-garrafas/copo-viagem"> Copo Viagem</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/casa_decoracao/copo-garrafas/coqueteleiras"> Coqueteleiras</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/casa_decoracao/copo-garrafas/garrafas"> Garrafas</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/casa_decoracao/copo-garrafas/jogo-de-copos"> Jogo de copos</a></li>
          <li><a class="menuToggle__menu-list-sub-link-two" href="/casa_decoracao/copo-garrafas/squeeze"> Squeeze</a></li>
        </ul> -->
      </span>

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/livros-e-afins">Livros & Afins</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/livros-e-afins">Livros & Afins</a>
    </span>

    <div class="menuToggle__group-sub-items-content">

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/livros-e-afins/acessorios">Acessórios</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/livros-e-afins/cadernos">Cadernos</a>
      </span> 

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/livros-e-afins/hq">HQ</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/livros-e-afins/mangas">Mangás</a>
      </span>    

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/pitipet">Pitipet</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/pitipet">Pitipet</a>
    </span>

    <div class="menuToggle__group-sub-items-content">

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/acessorios-pet">Acessórios Pet</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/bandana-pet">Bandana Pet</a>
      </span> 

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/camiseta-pet">Camiseta Pet</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/coleira-cat">Coleira Cat</a>
      </span>    

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/coleira-com-guia">Coleira com Guia</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/coleira-com-peitoral">Coleira com Peitoral</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/gravatinha-pet">Gravatinhas Pet</a>
      </span>
      
      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/pitipet/guia-com-peitoral">Guia com Peitoral</a>
      </span>

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<!-- menu mobile item gamer -->

<li class="menuToggle__menu-list">
  <div class="menuToggle__group-sub-first-item">
    <a href="/gamer">Gamer</a>
    <div class="menuToggle__menu-arrow">
      <div class="iconMenu">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="menuToggle__group-sub-items">
    <div class="menuToggle__group-sub-items-title">
      <div class="menuToggle__group-sub-items-icon">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="menuToggle__group-sub-items-text">Voltar</div>
    </div>
    <span class="menuToggle__menu-list-sub-item sub-item-title">
      <a class="menuToggle__menu-list-sub-link" href="/gamer">Gamer</a>
    </span>

    <div class="menuToggle__group-sub-items-content">

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/gamer/acessorios-gamer">Acessórios</a>
      </span>

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/gamer/fones-de-ouvido">Fones de Ouvido</a>
      </span> 
      
      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/gamer/kits">Kits</a>
      </span>  

      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/gamer/mouse">Mouse</a>
      </span> 
      
      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/gamer/mousepad">Mousepad</a>
      </span>
      
      <span class="menuToggle__menu-list-sub-item">
        <a class="menuToggle__menu-list-sub-link" href="/gamer/teclado">Teclado</a>
      </span> 

    </div>

    <div class="menuToggle__group-sub-items-footer">
    
    </div>

  </div>
</li>

<!-- <li><a class="menuToggle__menu-list menu-destaque">Outlet</a></li>
<li><a class="menuToggle__menu-list menu-destaque">Licenças</a></li>
<li class="menu__group-item"> -->
  <a class="menu__group-link menu__group-link menu__group-news" href="https://www.pitinews.com.br/" target="_blank"><img src="/arquivos/piti-news.png" alt="Piti News" /></a>
</li>