{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "modules": true,
        "useBuiltIns": "usage",
        "corejs": "3",
        // "proposals": true,
        "targets": {
          "node": "current",
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
    // "@babel/plugin-transform-regenerator",
    // "@babel/plugin-transform-runtime"
  ]
}