<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:template id="FRN-Head" />
  <link rel="stylesheet" href="//lojapiticas.vteximg.com.br/arquivos/frn.lojapiticas.account.css" />
</head>

<body>
  <vtex:template id="FRN-Header" />
  <main class="accountPage">
    <div class="accountPage">
      <div class="accountPage__wrapper">
        <div class="accountPage__header">

          <p class="accountPage__description">
            Durante toda sua navegação você estará em um ambiente virtual 100% seguro. Garantimos
            os padrões rígidos de segurança e confidencialidade a fim de proteger suas
            informações.
          </p>

        </div>
        <div class="accountPage__container">
          <div class="accountCard">
            <vtex.cmc:accountUserProfile />
          </div>
        </div>
      </div>
    </div>
  </main>
  <vtex:template id="FRN-Footer" />
  <vtex:template id="FRN-Scripts" />
  <script src="//lojapiticas.vteximg.com.br/arquivos/frn.lojapiticas.account.js"></script>
</body>

</html>