<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:template id="FRN-Head" />
</head>

<body id="login-page">
  <div class="page">
    <vtex:template id="FRN-Header" />
    <section id="login-content" class="container">
      <vtex.cmc:userLogin />
    </section>
    <vtex:template id="FRN-Footer" />
  </div>
</body>
<vtex:template id="FRN-Scripts" />

</html>