<script type="application/ld+json" id="product-rich-snippet">
{
   "@context":"https://schema.org",
   "@type":"Product",
   "name":"Camiseta Homem Aranha Poses",
   "gtin13":"7908419331667",
   "image":"https://lojapiticas.vteximg.com.br/arquivos/ids/166095-292-292/spider_02.jpg?v=637758710242100000",
   "description":"Procurando por Camiseta Homem Aranha Poses? Aqui você encontra Camiseta Manga Curta Geek e Nerd da MARVEL. Clique e Confira na Piticas!",
   "sku":"17418",
   "brand":{
      "@type":"Brand",
      "name":"MARVEL"
   },
   "offers":{
      "@type":"AggregateOffer",
      "lowPrice":"69.90",
      "priceCurrency":"BRL",
      "offers":[
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20827",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20828",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20829",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20830",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20831",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20832",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20833",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20834",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20835",
            "availability":"InStock"
         },
         {
            "@type":"Offer",
            "url":"https://www.piticas.com.br/camiseta-homem-aranha-poses-17418/p",
            "price":"69.90",
            "priceCurrency":"BRL",
            "sku":"20836",
            "availability":"InStock"
         }
      ],
      "offerCount":"10"
   }
}
</script>