<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <!--rck-seo canonical tags-->
  <vtex.cmc:canonicalPage disable="true" />
  <vtex:contentPlaceHolder id="rck-canonical" />
  <!--fim canonical tags-->

  <script id="product-redirect" type="text/javascript" language="javascript">
    if(document.URL.includes('404?ProductLinkNotFound')){
        let searchTerm = window.location.search.substr(window.location.search.indexOf('='))
        window.location.replace("https://www.piticas.com.br/Sistema/buscavazia?ft"+searchTerm)
    }  
  </script>
  
  <vtex:template id="FRN-Head" />
  <link rel="stylesheet" href="//lojapiticas.vteximg.com.br/arquivos/frn.lojapiticas.system.css" />

</head>

<body>

  <vtex:template id="FRN-Header" />


  <main>
    <section class="emptysearch">
      <div class="wrapper">
        <div class="emptysearch__banner">

          <vtex:contentPlaceHolder id="Banner" />

        </div>
        <div class="emptysearch__title">
          <h1>OPS, NÃO ENCONTRAMOS NADA EM SUA BUSCA</h1>
          <p>Tente refazer a sua busca ou utilize o menu de categorias acima.</p>
        </div>
      </div>
    </section>

    <section class="showcase">
      <div class="wrapper">

        <vtex:contentPlaceHolder id="Quem comprou, comprou também" />

      </div>
    </section>
  </main>


  <vtex:template id="FRN-Footer" />
  <vtex:template id="FRN-Scripts" />
  <script src="//lojapiticas.vteximg.com.br/arquivos/frn.lojapiticas.system.js"></script>

</body>

</html>