.ph-item {
  max-width: 1170px;
  margin: 0 auto;
}

.willLoad {
  visibility: hidden;
}

.picture-product {
  margin-bottom: 0 !important;
}

.autocomplete {
  &__placeholder {
    width: 280px !important;
    height: auto;
    margin-top: -15.1px;
    margin-left: -14px;

    .ph-col-12:first-child {
      display: none;
    }
  }
}
