<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <%- require('ejs-webpack-loader!./partials/subtemplates/head.ejs')() %>
  <!-- <vtex:template id="FRN-Head" /> -->
  <!-- <link rel="stylesheet" href="/arquivos/frn.fujioka.account.js" /> -->
</head>

<body>
  <%- require('ejs-webpack-loader!./partials/subtemplates/header.ejs')() %>

  <main class="accountPage">
    <div class="accountPage">
      <div class="accountPage__wrapper">
        <div class="accountPage__header">
          <h2 class="accountPage__title js-user-login">Olá</h2>
          <p class="accountPage__description">Durante toda sua navegação você estará em um ambiente virtual 100% seguro. Garantimos os padrões rígidos de segurança e confidencialidade a fim de proteger suas informações.</p>
        </div>
        <div class="accountPage__container">
          <div class="accountCard">
            <vtex.cmc:accountuserprofile />
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- <vtex:template id="FRN-Footer" /> -->
  <!-- <vtex:template id="FRN-Scripts" /> -->
  <!-- <script src="arquivos/frn.fujioka.account.js"></script> -->
  <%- require('ejs-webpack-loader!./partials/subtemplates/footer.ejs')() %>
  <%- require('ejs-webpack-loader!./partials/subtemplates/scripts.ejs')() %>
</body>

</html>