//Colors

$white: #ffffff;
$black: #000000;

$primary-color: #EF7B00;
$secundary-color: #152130;
$highlight-color: #4caa00;

$offwhite: #f5f5f5;
$grey: #cfcfcf;
$grey-1: #eee;
$grey-2: #afafaf;
$grey-3: #8e8e8e;
$grey-dark: #444444;

//Radius

$radius-mini: 0.125rem;
$radius-small: 0.25rem;
$radius-medium: 0.5rem;
$radius-large: 100rem;

//General

$ease: ease-in-out;

//container

// $container-1: 1216px;
// $container-2: 960px;
