@import '~pretty-checkbox/src/pretty-checkbox.scss';

.buyTogether {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    padding: 1rem 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 4rem;
  }

  &__buy-skus {
    display: flex;
    width: 300px;
    position: relative;
    margin-left: auto;
    height: 450px;
    justify-content: center;
    margin-top: 12px;
  }

  .productCard__checkbox {
    width: 20px;
    display: flex;
    justify-content: center;

    position: absolute;
    left: 10px;
    bottom: 15px;

    input:checked~.state label:before {
      border-color: #595959;
    }

    label {
      &::before {
        border: 2px solid #d9d9d9;
        border-radius: 5px;
      }
    }

    i {
      color: #d3791e;
      font-size: 0.8em !important;
      width: calc(1.2em + 2px) !important;
      height: calc(2em + 2px) !important;
      &::before {
        content: "\f111";
      }
    }
  }

  &__buy-button {
    width: 100%;
    display: flex;

    justify-content: center;

    button {
      width: 100%;
      max-width: 230px;
      height: 50px;
      background-color: #d3791e;
      color: #ffffff;
      letter-spacing: 0.6px;
      font-size: 12px;
      cursor: pointer;
      line-height: 30px;
      text-transform: uppercase;
      border: 0;
      border-radius: 5px;
      outline: 0;
    }
  }

  &__total-price {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;

    span {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      color: #d3791e;
      letter-spacing: -0.16px;
      margin-top: 28px;
    }
  }

  &__result-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__total-price-title {
    font-size: 22px;
    line-height: 25px;
    color: #666666;
  }

  .productCard {
    &:after {
      content: '+';
      position: absolute;
      top: 30%;
      right: 0;
      font-size: 40px;
      color: #666666;
      margin: -20px -44px 0 0;
      width: 56px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  .productCard:nth-child(3) {
    &:after {
      content: '=';
      position: absolute;
      top: 30%;
      right: 0;
      font-size: 40px;
      color: #666666;
      margin: -20px -64px 0 0;
      width: 56px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  .productCard__installments {
    left: 3.5rem;
    color: #1a1919;
    letter-spacing: 0.09px;
    text-align: center;
    line-height: 16px;
    position: initial;
    bottom: 0.7rem;
    top: 22px;
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: 300;
  }

  &__title {
    font-weight: 700;
    font-size: clamp(1em,1em + 1.2vw,1.75em);
    color: #d3791e;
    letter-spacing: -.11px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .buyTogether {
    &__container {
      flex-wrap: wrap-reverse;
      justify-content: center;
      border: 0;
    }

    &__buy-skus {
      display: flex;
      width: 100%;
      height: auto;

      margin-top: 4rem;
    }

    .productCard {
      margin: 0 auto;
      margin-bottom: 1rem;
      border-bottom: 0 !important;

      &:after {
        content: '' !important;
        display: none !important;
      }
    }

    .productCard:last-child {
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    .productCard__plus-sign {
      display: none;
    }

    &__result-wrapper {
      margin-top: 2rem;

      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__total-price {
      display: flex;
      justify-content: center;
    }

    &__buy-button {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 567px) {
  .buyTogether {
    &__container {
      padding: 1rem;
    }
  }
}
