@import '../../layout/productCard/index.scss';
@import '../../components/slider';
@import '../../layout/buyTogether/index.scss';
@import '../../base/variables';
@import '../../layout/breadcrumb/index.scss';
@import '../../utils/mixins';

//Just to test Kitlook
.kitlook__list {
  display: flex;
}

.js-modal-zoom__img{
  display: block;
  width: 100%;
  height: 80vh;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  @include mobile {    
    height: 56vh;
  }
}

.bread-crumb {
  @include mobile {
    display: none;
  }
}


.swal2-container {  
  @include mobile {padding: .625em 0 !important;}
}

.zoom {
  .swal2-popup {  
    width: 54em !important;
    @include mobile {border-radius: 0 !important;}
  }
}

.size--measures {
  .swal2-close {
    color: #d3791e;
    font-weight: bold;
  }
  .swal2-close:hover {
    color: #383838;
  }
  .swal2-popup {
    width: 56em;
  }
}

.swal2-popup::before {  
  @include mobile {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNqckzsOg0AMBZ0nLkC/ouEApEmfa+V29GmCUqdB9FwhtmQktFp/EkuvwjMseH15PwbimjgrZ6dc9RwBFyj84jw5JQEX7RVmgr75wxk5cyAp2jMqs0KPfU9IaliYHfpwCyQtWBjCqcmSmLBUVx3zkMwnCVlwS9CSkAXXn/BXIfG33ekgMSp3xEiMyh0xojlH9wS6GB7sSXroVkWwJRnkHiyc6w/rLJLbsc5fAQYAC0NMGY0aK5wAAAAASUVORK5CYII=");
    font-size: 12px;
    color: #d3791e;
    top: -26px;
    right: 26px;
    position: absolute;
    pointer-events: none;
  }
}

.productPage {
  position: relative;

  .buyTogether {
    .productCard--buyTogetherItem .productCard__buy {
      display: none !important;
    }
    .productCard:hover {
      padding-bottom: 37px;
    } 
    .productCard:hover .productCard__buy {
      display: none !important;
    } 
    .productCard:after {
      display: none;
    }
    .productCard__price {
      display: block;
    }
    .productCard__installments {
      text-align: left;
      &--strong {
        font-size: 10px;
    }
    }
    .productCard__skuSelector-wrapper {
      border: 0;
    }
    .prateleira {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "h2-buy-together h2-buy-together" "ul-buy-together preco-atualizado";
      grid-column-gap: 0;
      grid-row-gap: 0;
      @include mobile {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h2-buy-together h2-buy-together"
        "ul-buy-together ul-buy-together"
        "preco-atualizado preco-atualizado";
      }
      h2 {
        grid-area: h2-buy-together;
        font-weight: 700;
        font-size: clamp(1em,1em + 1.2vw,1.75em);
        color: #d3791e;
        letter-spacing: -0.11px;
        text-align: center;
        text-transform: uppercase;
        margin: {
          bottom: 24px;
          top: 60px;
        }
      }
      ul {
        display: flex;
        grid-area: ul-buy-together;
        list-style: none;
        padding-inline-start: 0;
        @include mobile {
          flex-wrap: nowrap;
          overflow-x: auto; 
          justify-self: center;
        }
        li {
         position: relative;
         margin-right: 30px;
         &:after {
          content: '+';
          position: absolute;
          top: 30%;
          right: 0;
          font-size: 40px;
          color: #666666;
          margin: -20px -44px 0 0;
          width: 56px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;          
        }
        &:nth-last-child(-n+2) {
          &:after {
            content: '=';
            position: absolute;
            top: 30%;
            right: -20px;
            font-size: 40px;
            color: #666666;
            width: 56px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            @include mobile {
              display: none;
            }
          }
        }
         article {
           border-bottom-right-radius: 0;
           border-bottom-left-radius: 0;
           border-bottom: transparent;                   
         }         
        }
        fieldset {
          display: flex;
          align-items: center;
          margin-top: -9px;
          border: solid 0.2px #d9d9d9;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          input {
            all: unset;
            border: 2px solid #ccc;
            width: 23px;
            height: 23px;
            display: inline-block;
            border-radius: 10px;
            position: relative;
            &:checked{
              border: 2px solid #595959;
              &::before {
                position: absolute;
                left: 0.6px;
                content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsSAAALEgHS3X78AAABWUlEQVQ4jb2VvU/DMBDFH+6ShbQSE0LiY82Unb2sHRjZEDNI/B1IYUZsjAxdy87eKSsGCTEhpemSpTK69Bw5rlPZiPAkL/G9n+yzn7OjlEKHjgFMeKQAhvx9AWAOYMpDOt0EtsZIKZUpf2XsaXFsaKqUkgFQLcleJ5gmil9AtQoTrns84r4dmW1aVUt8vz6izGeovvL6W7SfIE7OsHd6iUG0a3f2nc+j0OAMwLVZUeYv+Hy+xaoqnWcziGIcnN8hTsb21D2AGwLT6b/Z0I+nq67b0tLhxYMLfiL4OrW2Tyv11XpXS7t6sgGmnnZt3yWqJY8LnLbbMPOGbvGkwkhULX36IXJ4hiKY4inB2W9E9zRUDs9CcDAa0eUPlcMzF/xCNVonKvZGUy15LE03wBRTSpSvqNYR7RosOYZGO8Z1oratnOY6Ukcs2dsj1Nuz+S8P/Z/+mvr5mQL4AWvLW+3iCg1GAAAAAElFTkSuQmCC");
                width: 10px;
                height: 10px;
              }
            }
          }
          @include mobile {
            margin-top: -16px;
          }
          label {
            margin-left: 10px;
            font-size: 14px;
          }
        }
        li:nth-child(1) {
          position: relative;
          fieldset:nth-child(3) {
            display: none;
          }
          fieldset:nth-child(4) {
            display: none;
          }
        }
        li:nth-child(3) {
          position: relative;
          fieldset:nth-child(2) {
            display: none;
          }
          fieldset:nth-child(4) {
            display: none;
          }
        }
        li:nth-child(5) {
          position: relative;
          fieldset:nth-child(2) {
            display: none;
          }
          fieldset:nth-child(3) {
            display: none;
          }
        }
      }
      .box-preco-atualizado {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        
        dl:nth-child(1) {
          display: flex !important;
          font-size: 22px;
          line-height: 25px;
          color: #666666;
          .selected-count {
            font-size: 22px;
            line-height: 25px;
            color: #666666;
          }
        }
        grid-area: preco-atualizado;
        dl:nth-child(1)::before {
          content: "Leve os";
          margin-right: 5px;
        }
        dl:nth-child(1)::after {
          content: "itens por";
          margin-left: 5px;
        }
        dl:nth-child(2) {
          dt {
            display: none !important;
          }
          .selected-value {
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            color: #d3791e;
            letter-spacing: -0.16px;
            margin-top: 28px;
            margin-bottom: 40px;
          }
        }
        .btn-batch-buy {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0;
          width: 100%;
          max-width: 230px;
          height: 50px;
          background-color: #d3791e;
          color: #ffffff;
          cursor: pointer;
          line-height: 30px;
          text-transform: uppercase;
          border: 0;
          border-radius: 5px;
          outline: 0;
        }
        .btn-batch-buy::after {
          content: "ADICIONAR AO CARRINHO";          
          letter-spacing: 0.6px;
          font-size: 12px;
        }
      }
    }
  }

  .similars {
    &__title {
      h2 {
        font-weight: 700;
        font-size: clamp(1em,1em + 1.2vw,1.75em);
        color: #d3791e;
        letter-spacing: -.11px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
    }
    
    &__container {
      display: flex !important;
    }

    &__plus {
      font-size: 40px;
      color: #666666;
      margin: 30px auto 0px;
      @media(max-width: 905px) {
        display: none;
      }
    }

    &__summary {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 60px;
      border-bottom: 1px solid #f2f2f2;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }
    &__total {      
      span:nth-child(1) {
        font-size: 22px;
        color: #666666;
      }
      span:nth-child(2) {
        font-size: 31px;
        font-weight: bold;
        letter-spacing: -0.16px;
        color: #d3791e;
        margin: 0 20px;
      }
    }
    &__buy {
      width: 100%;
      max-width: 230px;
      height: 50px;
      background-color: #d3791e;
      color: #fff;
      letter-spacing: .6px;
      font-size: 12px;
      cursor: pointer;
      line-height: 30px;
      text-transform: uppercase;
      border: 0;
      border-radius: 5px;
      outline: 0;
    }
    .productCard {
      border: none;
      width: 100%;
      max-width: 20rem;
      &:hover {
        padding-bottom: 37px;
      }
      &__top {
        display: flex;
        div {
          margin: 0;
        }
      }
      &__price {        
        &--best {
          margin: 0 12px;
        }
        &--hidden {
          display: flex;
        }
        .productCard__installments {
          display: none;
        }
      }
      &__link {
        margin: 0;
      }
      &__image {
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
      &__brand {
        margin: {
          top: 0;
          left: 12px;
        }
      }
      &__name {
        margin: 0 12px;
        padding: 0;
        text-transform: lowercase;
        line-height: normal;
        height: 40px;
      }
      &__wishList {
        display: none !important;
      }
      &__variations {
        &-bottom {
          border: 1px solid #f2f2f2;
          border-top: 0;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 100%;
          padding: 20px;
        }
      }
      &__skuSelector {
        &__buy {
          display: none;
          align-items: center;
          margin-left: 5px;
          height: 30px;
          button {
            display: none;
          }
          input {
            all: unset;
            border: 2px solid #ccc;
            width: 23px;
            height: 23px;
            display: inline-block;
            border-radius: 10px;
            cursor: pointer;
            &:checked {
              border: 2px solid #595959;
              &:before {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsSAAALEgHS3X78AAABWUlEQVQ4jb2VvU/DMBDFH+6ShbQSE0LiY82Unb2sHRjZEDNI/B1IYUZsjAxdy87eKSsGCTEhpemSpTK69Bw5rlPZiPAkL/G9n+yzn7OjlEKHjgFMeKQAhvx9AWAOYMpDOt0EtsZIKZUpf2XsaXFsaKqUkgFQLcleJ5gmil9AtQoTrns84r4dmW1aVUt8vz6izGeovvL6W7SfIE7OsHd6iUG0a3f2nc+j0OAMwLVZUeYv+Hy+xaoqnWcziGIcnN8hTsb21D2AGwLT6b/Z0I+nq67b0tLhxYMLfiL4OrW2Tyv11XpXS7t6sgGmnnZt3yWqJY8LnLbbMPOGbvGkwkhULX36IXJ4hiKY4inB2W9E9zRUDs9CcDAa0eUPlcMzF/xCNVonKvZGUy15LE03wBRTSpSvqNYR7RosOYZGO8Z1oratnOY6Ukcs2dsj1Nuz+S8P/Z/+mvr5mQL4AWvLW+3iCg1GAAAAAElFTkSuQmCC);
                width: 10px;
                height: 10px;
              }
            }
          }
          .control-group {
            width: 22px;
            height: 26px;
          }
        }
        &-actions {
          display: flex;
          justify-content: center;
        }
        &__quantity {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &::before {
            content: "QUANTIDADE";
            font-size: 12px;
            letter-spacing: 0.6px;
            text-align: left;
            color: #666666;
          }
          .skuSelector {
            &__quantityController {              
              display: flex;
              justify-content: space-evenly;
              width: 60%;
              height: 30px;
              border-radius: 5px;
              border: solid 2px #595959;
              button {
                border: 0;
                background-color: transparent;
                color: #d3791e;
                font-size: 20px;
                cursor: pointer;
              }
              input {
                width: 40%;
                border: 0;
                font-size: 20px;
                text-align: center;
              }
            }
          }
        }
      }
      &__skuSelector-wrapper {
        top: 0;
        border: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
      }      
      .variation__wrapper {
        &[data-input-type=Radio]::before {
          content: "TAMANHO";
          font-family: Noah;
          font-size: 12px;
          font-weight: normal;
          letter-spacing: 0.6px;
          text-align: left;
          color: #666666;
        }
        &--tamanho {
          padding: 20px;
        }  
      }
    }
  }

  &__shipping {
    display: block;
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
    p {
      font-size: 12px;
      color: #666666;
      letter-spacing: 0.6px;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    input[type=number]::-webkit-inner-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
    }
    #postal-code{
      height: 40px;
      border-radius: 5px;
      border: solid 1px #cfcfcf;
      width: 78%;
      margin-right: 12px;
      padding-left: 12px;
    }
    .postal-code-send{
      border-radius: 5px;
      border: solid 2px #EF7B00;
      background-color: #ffffff;
      font-size: 12px;
      text-transform: uppercase;
      color: #EF7B00;
      height: 40px;
      line-height: 38px;
      width: 40px;
    }
  }

  &__content {
    padding: 0 1rem;
    width: 100%;
    &-one{
      max-width: 25%;
      @include desktop-mid {
        max-width: 100%;
      }
    }
    &-two{
      max-width: 50%;
      position: relative;

      @include desktop-mid {
        max-width: 100%;
        order: -1;
        margin-bottom: 26px;
      }
      & .productCard__wishList {
        top: 2%;
        right: -4%;
        @media (max-width: 1024px) {
          right: 9%;
        }
        @media (max-width: 768px) {
          top: 4%;
          right: 34%;
        }
        @media (max-width: 706px) {
          right: 33%;
        }
        @media (max-width: 600px) {
          right: 29%;
        }
        @media (max-width: 500px) {
          right: 25%;
        }
        @media (max-width: 450px) {
          right: 22%;
        }
        @media (max-width: 400px) {
          right: 18%;
        }
        @media (max-width: 350px) {
          right: 13%;
        }
        @media (max-width: 300px) {
          right: 6%;
        }
      }
    }
    &-three{
      max-width: 25%;
      width: 100%;
      @include desktop-mid {
        max-width: 100%;        
      }
    }
  }

  &__wishlist {
    position: absolute;
    content: '\f004';
    font-weight: 400;
    font-family: 'Font Awesome 5 Free';
    color: #ef7b00;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  &__wrapper {
    @include wrapper;
    margin: {
      top: 44px;
      bottom: 80px;
    }
  }
  
  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    @include desktop-mid {
      margin-bottom: 26px;
      flex-wrap: wrap;
    }
  }

  &__brand{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 18px;
    &-mobile{
      color: #666666;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }

  &__name {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.7px;
    padding-top: 1rem;
    &-mobile {
      color: #000000;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -0.7px;
      padding-top: 1rem;
    }
  }

  &__id-product{
    color: #999999;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: {
      top: 12px;
      bottom: 42px;
    }
    @include mobile {
      margin-bottom: 0;
    }
    &-mobile {
      color: #999999;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin: {
        top: 12px;
        bottom: 42px;
      }
    }
  }

  &__variations {
    .variation__wrapper:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  &__variation-name {
    display: none;
    color: #000000;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.7px;
  }

  &__price {
    flex-direction: column;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
    @include mobile {
      text-align: center;
      padding: 30px 0;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      margin: 20px 0;
    }
    &-row{
      display: flex;
      align-items: center;
    }
  }
  

  &__best-price {
    color: #EF7B00;
    line-height: 1em;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.85px;
    margin-bottom: 0.5rem;

    width: 100%;
  }

  &__list-price {
    color: #666666;
    font-size: 16px;
    text-decoration: line-through;
    text-transform: uppercase;
    letter-spacing: -0.08px;
    margin-right: 10px;
  }

  &__info {
    display: none;
    grid-area: info;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 1rem 0;
    margin-bottom: 12px;
    @include mobile {
      display: none;
    }
  }

  &__description {
    color: #000;
    font-size: 14px;

    margin-bottom: 10px;
    max-height: 100px;
    padding-right: 0.5rem;
    overflow-y: hidden;
    transition: max-height 0.7s linear; 
    @include mobile {
      display: none;
    }

    &--bottom {
      padding: {
        top: 38px;
        bottom: 42px;
      }
      border: {
        top: 1px solid #f2f2f2;
        bottom: 1px solid #f2f2f2;
      }
      &-title {
        p {
          color: #666666;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.6px;
          margin-bottom: 26px;
        }
      }
      &-content {
        font-size: 14px;
        @include mobile {
          max-height: 36px;
          overflow-y: hidden;
          transition: max-height 0.7s linear;
        }
      }
      #seeMoreBtnBottom{
        display: none;
        color: #d3791e;
        font-size: 14px;
        text-decoration: underline;
        @include mobile {
          display: block;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 15px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f4f4f4;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c4300e;
    }
  }

  .expanded {
    max-height: 1000px;
  }

  #seeMoreBtn{
    color: #EF7B00;
    font-size: 14px;
    text-decoration: underline;
    @include mobile {
      display: none;
    }
  }  

  &__installments {
    color: #666666;
    font-size: 12px;
    letter-spacing: -0.06px;
  }

  &__buy-button {
    display: none;
    width: 100%;
    max-width: 200px;
    height: 50px;
    background-color: #c4300e;
    cursor: pointer;

    color: #ffffff;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    outline: 0;
    border: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  &__name-container {
    margin-bottom: 1rem;
  }

  &__description-title {
    color: #000000;
    font-size: 30px;
    text-transform: initial;

    margin-bottom: 1rem;
  }

  &__variations {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    @include mobile {
      justify-content: center;
    }

    height: auto;    
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 1rem 0;
    button {
      width: 100%;
    }
  }

  &__size {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: {
      top: 1px solid #f2f2f2;
      bottom: 1px solid #f2f2f2;
    }
    padding: {
      top: 1rem;
      bottom: 1rem;
    }
    &--title {
      color: #666666;
      font-size: 12px;
      text-transform: uppercase;
    }  
    &--items {
      display: flex;
        justify-content: flex-start;
        padding: {
          top: 24px;
          bottom: 24px;
        }
        padding-inline-start: 0px;
        margin: 0;
        li {
          padding: 5px 10px;
          list-style-type: none;
          margin-right: 14px;
          border: 1px solid #f2f2f2;
          border-radius: 5px;
          color: #666666;
        }
    }
    &--measures {
      border-bottom: 1px solid #e9e9e9;
      padding: {
        top: 14px;
        bottom: 14px;
      }
      @include mobile {
        text-align: center;
      }
      a {
        font-size: 14px;
        color: #EF7B00;
        text-decoration: underline;
      }
    }   
  }

  &__share {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;

    &-title {
      color: #4d4d4d;
      font-family: Montserrat;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -0.28px;
      margin-right: 1rem;
    }

    &-item:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__collections {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;

    margin-bottom: 86px;
    h2 {
      font-weight: bold;
      font-size: clamp(1em, 1em + 1.2vw, 1.75em);
      color: #d3791e;
      letter-spacing: -0.11px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .slick-arrow {
      top: 280px;
      svg {
        path {fill: #666666;}
      }
    }
    .slick-arrow-left {
      left: -2rem;
      @include desktop-mid {
        left: 0;
      }
    }
    .slick-arrow-right {
      right: -2rem;
      @include desktop-mid {
        right: 0;
      }
    }
    .slick-disabled {
      opacity: 0.50;
    }
    .slick-dots li.slick-active button::before {
      color: #666666 !important;
      width: 12px !important;
      height: 12px !important;
    }
    .slick-dots li.slick-active button {
      background-color: #666666 !important;
      box-shadow: 0 0 0 2px rgb(255 255 255 / 40%) !important;
    }

    .slick-dots li button {
      border: 0;
      background-color: #e9e9e9!important;
   }
  }

  &__video-modal {
    .swal2-show {
      max-width: 80vw;
      width: 80vw;
      height: 80vh;
    }

    .swal2-content {
      width: 100%;
      height: 100%;

      #swal2-content {
        width: 100%;
        height: 100%;
      }

      .productPage__video {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        .loader {
          display: block !important;
          width: 10em !important;
          position: relative !important;
          bottom: 0 !important;
          transform: translate(-50%, -50%);
        }
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__image {
    height: 100%;
    width: 86%;
    margin: 0 auto;
    @include mobile {
      display: flex;
      width: 100% !important;
    }
    &-mobile {
      display: none;      
      @include mobile {
        display: flex;
        flex-wrap: nowrap;
      }   
    }
    &-item-mobile{  
      display: none; 
      margin: {
        right: 12px;
        bottom: 20px;
      }
      @include mobile {
        display: flex;
      }
      &:last-child{
        margin-right: 0;
      }       
      img {
        border: solid 1px #f2f2f2;
        border-radius: 5px;        
      }
    }
  }

  &__image-product{
    grid-area: product;
  }

  &__image-zoom {
    width: 450px;
    @include desktop-mid {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: start !important;
      padding-inline-start: 0;
      display: flex;
    width: 100%;
    }
    img {
      border: 1px solid #f2f2f2;
      border-radius: 5px;
      @include mobile {
        width: 260px !important;
        max-width: 100%;
        height: auto;
      }
    }

    .slick-arrow-left {
      left: 0;
    }

    .slick-arrow-right {
      right: 0;
    }

    .slick-disabled {
      opacity: 0.25;
    }
  }

  &__image-item {
    width: 80px !important;
    height: 80px;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    margin-top: 5px;
    img {
      width: 100% !important;
      object-fit: contain;
      margin: 0 !important;
      border-radius: 5px;
      width: 76px;
      height: 76px;
    }
  }

  &__image-item--video {
    width: 90px !important;
    height: 87px;
    border: 1px solid #f3f3f3;
    margin-top: 5px;

    display: flex !important;
    align-items: center;
    justify-content: center;

    color: #c4300e;
    cursor: pointer;
    font-size: 60px;
    line-height: 87px;
    text-align: center;
  }

  .fa-play-circle-o:before {
    content: '\f01d';
  }

  &__image-item:not(:last-child) {
    margin-right: 10px;
  }

  &__thumbs {
    grid-area: image-thumbs;
    max-width: calc(100vw - 32px);

    display: flex;
    padding: 0;
    width: 100%;

    @include desktop-mid {
      display: none;
    }
    
    .slick-arrow-left {
      left: -2.5rem;
    }

    .slick-arrow-right {
      right: -2.5rem;
    }

    .slick-disabled {
      opacity: 0.25;
    }
  }

  &__image-item {
    cursor: pointer;
    list-style: none;

    img {
      margin: 0 auto;
    }
  }

  &__image-item-zoom {
    cursor: pointer;
    list-style: none;
    &:not(:last-child) {
      margin-right: 10px;
    }
    img {
      margin: 0 auto;
      @include desktop-mid {
        max-width: none;
      }
    }
  }
  .shipping-results {
    margin-top: 10px;
    table {
      thead{
        tr {
          background-color: #d3791e;
          th {
            &:first-child {
              width: 32%;
            }
            &:last-child {
              display: none;
            }
            width: 100%;
            font-size: 12px;
            color: #fff;
          }
        }        
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #ccc;
          }
          td {
            font-size: 12px;
            &:first-child {
              display: flex;
              justify-content: center;
            }
          }
        }        
      }
    }
  }
}

.js-add-to-cart {
  outline: 0;
  border: 0;
  width: 100%;
  padding: 0 1rem;
  height: 50px;
  background-color: #EF7B00;
  border-radius: 5px;
  margin: {
    top: 1rem;
    bottom: 1rem;
    right: 0.5rem;    
  }
  cursor: pointer;

  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }

  small {
    display: none;
    margin-left: 6px;
    font-weight: 800;
  }
}

//return to category

.productPage__back-to-category {
  display: none;
  color: #8f8f8f;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.33px;

  margin-top: 1rem;
  margin-bottom: 10px;

  i {
    margin-right: 0.5rem;
  }
}

#category-to-return {
  text-transform: capitalize;
  color: #94240b;
  font-size: 12px;
  text-decoration: none;
}

//quantity controller

.variation__wrapper {
  &--tamanho {
    display: flex;
    flex-direction: column;
  }
  &--title {
    &-tamanho {
      display: none;
      color: #666666;
      font-size: 12px;
      text-transform: uppercase;
      margin: 22px 0;
      font-weight: bold;
    }
  }
  &--body {
    &-tamanho {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.variation__wrapper--cor {
  display: none;
  flex-wrap: wrap;
}

.productPage__quantityController {
  display: none;
  align-items: center;

  width: 100%;
  max-width: 142px;
  margin-right: 2rem;
}

.buy-button.buy-button-ref {
  display: none !important;
}

@media (max-width: 1200px) {
  .js-add-to-cart {
    padding: 0;
  }

  .productPage__quantityController {
    margin-right: 1rem;
  }
}

@media (max-width: 992px) {
  .productPage {
    &__main {
      display: flex;
      flex-wrap: wrap;
    }

    &__image {
      width: 100vw;
      max-width: 100vw;
    }

    &__image-zoom {
      display: flex;
      justify-content: center;
      width: 100%;

      img {
        object-fit: contain;
      }
    }

    &__thumbs {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .productPage {
    &__action {
      flex-direction: column;
    }

    &__price-row {
      justify-content: center;
    }

    &__content {
      max-width: 100%;
      padding: 0;
    }

    &__add-to-cart {
      width: 100%;
      max-width: 100%;
      margin: 0.5rem 0;
    }

    &__buy-button {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: 512px) {
  .colection {
    .productCard {
      margin: 0 auto;
    }
  }
}

main {
  user-select: auto !important;
  -webkit-user-drag: auto !important;
}