
<section class="brands">
  <div class="brands__wrapper">
    <h2 class="brands__title">Licenças</h2>
    <ul class="brands__list js-brand-list">
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-1.png" alt="anselmi" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-2.png" alt="biamar" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-3.png" alt="visual" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-4.png" alt="ellus" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-5.png" alt="calvin-klein" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-6.png" alt="ellus-second-flor" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-2.png" alt="vizzano" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-4.png" alt="tommy-helfiger" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-3.png" alt="coca-coca-shoes" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-5.png" alt="cavalera" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-2.png" alt="cavalera" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-1.png" alt="cavalera" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-3.png" alt="cavalera" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-5.png" alt="cavalera" /></a></li>
      <li class="brands__item"><a class="brands__link" href="#"><img class="brands__logo" src="/arquivos/slide-6.png" alt="cavalera" /></a></li>
    </ul>
  </div>
</section>