<section class="brands">
  <div class="brands__wrapper">
    <h2 class="brands__title">Licenças</h2>
    <ul class="brands__list js-brand-list">
      <li class="brands__item"><a class="brands__link" href="cavaleiros-do-zodiaco"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-cavaleirosdozodiaco.png" alt="Cavaleiros do Zodiaco" /></a></li>
      <li class="brands__item"><a class="brands__link" href="disney"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-disney.png" alt="Disney" /></a></li>
      <li class="brands__item"><a class="brands__link" href="dragon-ball"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-dragonball.png" alt="DragonBall" /></a></li>
      <li class="brands__item"><a class="brands__link" href="funko"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-funko.png" alt="Funko" /></a></li>
      <li class="brands__item"><a class="brands__link" href="harry-potter"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-harrypotter.png" alt="Harry Potter" /></a></li>
      <li class="brands__item"><a class="brands__link" href="marvel"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-marvel.png" alt="Marvel" /></a></li>
      <li class="brands__item"><a class="brands__link" href="naruto"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-naruto.png" alt="Naruto" /></a></li>
      <li class="brands__item"><a class="brands__link" href="star-wars"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-starwars.png" alt="Star Wars" /></a></li>
      <li class="brands__item"><a class="brands__link" href="stranger-things"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-strangerthings.png" alt="Stranger Things" /></a></li>
      <li class="brands__item"><a class="brands__link" href="dc-comics"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-dccomics.png" alt="DC Comics" /></a></li>
      <li class="brands__item"><a class="brands__link" href="sanrio"><img class="brands__logo"
            src="//lojapiticas.vteximg.com.br/arquivos/brands-sanrio.png" alt="Sanrio" /></a></li>
    </ul>
  </div>
</section>