<%if (process.env.NODE_ENV === 'development') { %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="language" content="pt-BR" />
  <meta name="country" content="BRA" />
  <meta name="currency" content="R$" />
  <meta name="description" content="Adicionar aqui uma boa descrição da sua loja virtual. Esta descrição será mostrada nos resultados de busca do Google." />
  <meta name="Abstract" content="Piticas" />
  <meta name="author" content="Piticas" />
  <meta name="copyright" content="Piticas" />
  <meta name="vtex-version" content="1.4.1655.2282" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width,initial-scale=1,user-scalable=0" name="viewport" />
  <meta content="width" name="MobileOptimized" />
  <meta content="true" name="HandheldFriendly" />
  
  <link rel="shortcut icon" href="/arquivos/favicon.ico" type="image/x-icon"/>
  
  <!-- vendors -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <title>Piticas</title>
<% } else {%>
  <vtex:metatags />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta content="width=device-width,initial-scale=1,user-scalable=0" name="viewport"/>
  <meta content="width" name="MobileOptimized"/>
  <meta content="true" name="HandheldFriendly"/>

  <!-- LGPD AdOpt -->  
  <meta name="adopt-website-id" content="0add892c-f2fe-4040-9104-5444ad8bd86b" />
  <!-- LGPD AdOpt fim -->
  
  <link rel="shortcut icon" href="/arquivos/favicon.ico" type="image/x-icon"/>
  
  <link rel="stylesheet" href="/arquivos/frn.lojapiticas.general.css?v=1.1"/>
  <link rel="stylesheet" href="/arquivos/frn.lojapiticas.seriedesign.css?v=1.1"/>
<% }  %>