<section class="stripeArea js-stripeArea">
  <div class="stripeArea__wrapper js-benefits"><a class="stripeArea__item" href="#"><span class="stripeArea__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="25" viewBox="0 0 29 25">
          <g>
            <g opacity="1">
              <path fill="#31353d"
                d="M7.571 22c-.58 0-1.082-.212-1.506-.636-.425-.425-.637-.926-.637-1.507 0-.58.212-1.082.637-1.507a2.06 2.06 0 0 1 1.506-.636c.58 0 1.083.212 1.507.636.424.425.636.926.636 1.507 0 .58-.212 1.082-.636 1.507a2.06 2.06 0 0 1-1.507.635zM3.286 10.782c0-.145.05-.268.15-.368L6.701 7.15c.1-.1.223-.15.368-.15h2.645v4.285H3.286zM22.57 21.999c-.58 0-1.082-.211-1.506-.635-.425-.425-.637-.926-.637-1.507 0-.58.212-1.082.637-1.507a2.06 2.06 0 0 1 1.506-.636c.58 0 1.083.212 1.507.636.424.425.636.926.636 1.507 0 .58-.212 1.082-.636 1.507a2.06 2.06 0 0 1-1.507.635zM28.681.89a1.03 1.03 0 0 0-.753-.318H10.786c-.29 0-.542.106-.754.318a1.029 1.029 0 0 0-.318.754v3.214H7.036c-.302 0-.628.073-.98.218a2.553 2.553 0 0 0-.845.535L1.896 8.925c-.145.145-.27.312-.377.502-.106.19-.184.36-.234.51-.05.152-.087.358-.109.62-.022.262-.036.455-.042.578-.005.123-.005.335 0 .636.006.301.009.497.009.586v5.357c-.29 0-.542.106-.754.318a1.03 1.03 0 0 0-.318.753c0 .168.023.316.067.444a.63.63 0 0 0 .226.31c.106.078.198.142.277.192.078.05.209.084.393.1.184.018.31.028.377.034.067.006.209.006.427 0 .217-.006.343-.008.376-.008h1.072c0 1.183.418 2.193 1.255 3.03.837.837 1.847 1.256 3.03 1.256 1.183 0 2.193-.42 3.03-1.256.838-.837 1.256-1.847 1.256-3.03h6.429c0 1.183.418 2.193 1.255 3.03.837.837 1.847 1.256 3.03 1.256 1.183 0 2.193-.42 3.03-1.256.838-.837 1.256-1.847 1.256-3.03.034 0 .16.002.377.008s.36.006.427 0l.376-.033c.184-.017.316-.05.394-.1.078-.05.17-.115.276-.193a.634.634 0 0 0 .226-.31 1.35 1.35 0 0 0 .067-.444V1.643c0-.29-.106-.542-.318-.754z">
              </path>
            </g>
          </g>
        </svg></span>
      <div class="stripeArea__info" data-modal-component-name="shipping"><span class="stripeArea__title">
          Frete Grátis
        </span>
        <p class="stripeArea__description">
          compras acima de R$ 199

        </p>
      </div>
    </a><a class="stripeArea__item" href="#"><span class="stripeArea__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="23" viewBox="0 0 38 23">
          <g>
            <g opacity="1">
              <path fill="#31353d"
                d="M25.184 21.941a.793.793 0 0 1 .139.42.617.617 0 0 1-.188.449.605.605 0 0 1-.445.19H5.697a.768.768 0 0 1-.267-.04.362.362 0 0 1-.178-.14 5.712 5.712 0 0 1-.109-.16.574.574 0 0 1-.059-.23 2.39 2.39 0 0 1-.02-.229v-.26V10.22H1.266c-.343 0-.64-.127-.89-.38A1.233 1.233 0 0 1 0 8.942c0-.32.099-.592.297-.82L6.627.455c.25-.293.574-.44.97-.44.395 0 .718.147.969.44l6.33 7.668c.199.227.297.5.297.819 0 .346-.125.645-.375.899-.251.252-.548.379-.89.379h-3.8v7.669h11.396c.211 0 .376.073.495.22zm12.8-7.888a1.2 1.2 0 0 1-.297.82l-6.33 7.667c-.264.307-.587.46-.97.46s-.706-.153-.97-.46l-6.33-7.668a1.2 1.2 0 0 1-.297-.819c0-.346.126-.646.376-.899.25-.252.547-.379.89-.379h3.799V5.106H16.46a.582.582 0 0 1-.495-.239L12.8 1.033a.637.637 0 0 1 .05-.849.605.605 0 0 1 .444-.19h18.992c.106 0 .195.014.267.04a.367.367 0 0 1 .178.14l.11.16c.026.04.045.116.059.23.013.113.02.19.02.229v11.982h3.798c.343 0 .64.127.89.38s.376.552.376.898z">
              </path>
            </g>
          </g>
        </svg></span>
      <div class="stripeArea__info"><span class="stripeArea__title">
          1ª Troca Grátis
        </span>
        <p class="stripeArea__description">
          mais facilidade pra você

        </p>
      </div>
    </a><a class="stripeArea__item" href="#"><span class="stripeArea__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="27" viewBox="0 0 33 27">
          <g>
            <g opacity="1">
              <path fill="#31353d"
                d="M29.464.428a2.58 2.58 0 0 1 1.892.787 2.58 2.58 0 0 1 .787 1.892v20.357a2.58 2.58 0 0 1-.787 1.892 2.58 2.58 0 0 1-1.892.787H2.678a2.579 2.579 0 0 1-1.891-.787A2.579 2.579 0 0 1 0 23.464V3.107C0 2.37.262 1.74.787 1.215A2.58 2.58 0 0 1 2.678.428zM2.678 2.571a.516.516 0 0 0-.376.159.516.516 0 0 0-.16.377v3.75H30v-3.75a.517.517 0 0 0-.16-.377.516.516 0 0 0-.376-.159zm26.786 21.428c.145 0 .27-.052.377-.159a.515.515 0 0 0 .159-.376V13.285H2.143v10.179c0 .145.053.27.159.376a.514.514 0 0 0 .376.16zM4.286 21.857v-2.143H8.57v2.143zm6.428 0v-2.143h6.429v2.143z">
              </path>
            </g>
          </g>
        </svg></span>
      <div class="stripeArea__info"><span class="stripeArea__title">
          6X sem juros
        </span>
        <p class="stripeArea__description">
          no cartão de crédito

        </p>
      </div>
    </a><a class="stripeArea__item" href="#"><span class="stripeArea__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" viewBox="0 0 35 26">
          <g>
            <g opacity="1">
              <path fill="#31353d"
                d="M0 0h4.375v21.667H0zm6.562 0H8.75v21.667H6.562zm4.376 0h2.187v21.667h-2.187zM17.5 0h2.187v21.667H17.5zm8.75 0h2.187v21.667H26.25zm6.562 0H35v21.667h-2.188zM21.875 0h1.094v21.667h-1.094zm-6.563 0h1.094v21.667h-1.094zm14.22 0h1.093v21.667h-1.094zM0 23.833h2.187V26H0zm6.562 0H8.75V26H6.562zm4.376 0h2.187V26h-2.187zm10.937 0h2.188V26h-2.188zm10.937 0H35V26h-2.188zm-6.562 0h4.375V26H26.25zm-10.938 0h4.375V26h-4.375z">
              </path>
            </g>
          </g>
        </svg></span>
      <div class="stripeArea__info"><span class="stripeArea__title">
          5% OFF à vista
        </span>
        <p class="stripeArea__description">no cartão de crédito</p>
      </div>
    </a></div>
</section>