@import '../../layout/filter/index.scss';
@import '../../layout/productCard/index.scss';
@import '../../layout/priceSlider/index.scss';
@import '../../layout/orderBy/index.scss';
@import 'node_modules/placeholder-loading/src/scss/placeholder-loading.scss';
@import '../../utils/mixins';
@import '../../layout/breadcrumb/index.scss';
@import '../../layout/filter/index.scss';

.filtro {
  max-width: 650px;
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.category {
  &__content {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    @include mobile {
      padding: 0;
    }
    &--last{
      width: 80%;
      @include mobile {
        width: 100%;
      }
      .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 86px;
        &__wrapper {
          display: flex;
          align-items: center;
        }
        &__button {
          border: none;
          background: transparent;
          cursor: pointer;
          svg path {
            fill: #666666;
          }
          &--first {
            display: none;
          }
          &--last {
            display: none;
          }
          &--current {
            color: #ef7b00;
          }
        }
      }
    }    
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  &-shelf {
    &__button {
      text-decoration: none;
      padding-left: 20px;
      padding-right: 20px;
      display: block;
      max-width: 17.5rem;
      width: 100%;
      height: 3.25rem;
      background: #c4300e;
      border: 1px solid #a1270c;
      box-shadow: 0 0.25rem 0.5rem 0 rgba(114, 203, 206, 0.2);
      border-radius: 0.25rem;
      font-weight: 500;
      font-size: 1rem;
      color: #ffffff;
      letter-spacing: -0.1px;
      text-align: center;
      line-height: 3.25rem;
      margin: 3rem auto 0;
      transition: all 0.3s ease;

      @include mobile {
        padding: {
          left: 0;
          right: 0;
        }
      }

      &:hover {
        color: #fff;
      }

      &:before {
        display: inline-block;
        position: relative;
        content: '\f1ce';
        font-family: 'Font Awesome 5 Free';
        margin: {
          right: 0.5rem;
        }
        animation: spin 1s infinite linear;
        position: relative;
        opacity: 0;
        line-height: 1;
        font-weight: 900;
        transition: all 0.3s ease;
        margin: {
          left: -1.25rem;
        }
      }

      &--loading {
        position: relative;

        &:before {
          opacity: 1;
          margin: {
            left: 0;
          }
        }
      }

      &--end {
        font-size: 0;

        &[disabled] {
          cursor: not-allowed;
        }

        &:after {
          content: 'nada mais :(';
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }

  &__empty {
    margin: 0 auto;
    padding-top: 100px;
    width: 100%;
  }
}

.banner-category {
  &__desktop {
    @include mobile {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @include mobile {
      display: block;
    }
  }

  &__content {
    position: relative;
    
    img{      
      max-width: 100%;
      height: auto;
    }

    h2 {
      position: absolute;
      z-index: 1;
      left: 5%;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 45px;
      line-height: 45px;
      font-weight: bold;
      letter-spacing: 2.25px;
      color: #fff;
      text-transform: uppercase;
      @include mobile {
        font-size: 27px;
      }
    }

    .box-banner {
      a {
        img {
          width: 100%;
          height: auto;
          margin: 0 auto;
          max-width: 100%;
        }
      }
    }
  }

  &__image {
    padding-top: 32.5px;
    padding-bottom: 32.5px;
    display: flex;
    justify-content: center;

    img {
      width: 70%;
    }
  }
}

.brands {
  margin-top: 0 !important;
  padding-top: 28px !important;
  padding-bottom: 28px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 0;
}

.vitrine {
  width: 100%;
  padding: {
    bottom: 65px;
  }

  div > div > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__wrapper {
    padding: 0 0;
  }

  &__group {
    text-align: center;
    padding-left: 0;
    -webkit-tap-highlight-color: none;

    @include mobile {
      padding: 0 16px;
      padding-top: 25px;
    }

    li {
      list-style: none;
      padding: 20px;

      @include mobile {
        padding: 5px;
      }
    }
  }
}

.productCard {
  min-width: 0;

  &__skuSelector {
    display: none;
    &-wrapper {
      display: none;
    }
  }
  @include mobile {
    height: auto;
  }
}

.stripeArea {
  margin-top: 0;
}

@include mobile {
  .vitrine__group {
    justify-content: center !important;
  }
}

.frn-brand, .frn-search {  
  .filter {
    display: none;
  }
  .filter-mobile__especification {
    display: none;
  }
  .category__content--last {
    width: 100%;
  }
  .vitrine {  
    div > div > ul {
      justify-content: center !important;
    }
  }
}