@import '../../utils/mixins';

.similars {
  display: flex;
  margin-bottom: 100px;

  .option-selected.variation__option-nosvg span {
    border: none;
  }

  &__wrapper {
    @include wrapper;

    @include mobile {
      padding: 0;
    }
  }

  &__title {
    font-size: 24px;
    text-align: center;
    font-weight: normal;

    h2 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: normal;
    }

    i {
      margin-left: 10px;
      font-size: 25px;
    }
  }

  .slick-dots {
    bottom: 10.5px !important;

    @include mobile {
      display: none !important;
    }
  }

  .slick-slide {
    height: 670px;
  }

  .slick-arrow-left {
    @include mobile {
      left: 0 !important;
      background: #000;

      svg {
        fill: #fff;
      }
    }
    padding: 10px;
  }

  .slick-arrow-right {
    @include mobile {
      background: #000;
      right: 0px;

      svg {
        fill: #fff;
      }
    }
    padding: 10px;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__total {
    span {
      &:first-child {
        font-size: 32px;
      }

      &:last-child {
        margin-left: 16px;
        color: #25cc8f;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }

  &__buy {
    text-align: center;
  }

  &__actions {
    background: #11b97c;
    padding: 4px 7px;
    height: 61px;
    display: inline-block;
    max-width: 210px;
    width: 100%;

    button {
      background: #25cc8f;
      border: 1px solid white;
      font-weight: bold;
      display: inline-block;
      height: 100%;
      font-size: 14px;
      color: #fff;
      width: 100%;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &__total,
  &__actions {
    text-align: center;
  }

  // Checkbox

  // Sku Selector

  .sku-selector {
    width: 100%;

    &__variations {
      display: flex;
      flex-direction: column;
    }
  }

  .skuSelector {
    &-actions {
      display: flex;
      justify-content: space-between;

      margin-top: 8px;
    }

    &__quantityController {
      display: flex;
      align-items: center;
      width: 100%;
      height: 61px;
      max-width: 142px;
      border: 1px solid #cccccc;
      margin-right: 2rem;
      justify-content: center;

      input {
        border: none;
        width: 20px;
      }

      .quantityController-skuSelector__btn {
        width: 100%;
        max-width: 41px;
        height: 42px;
        border: none;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        font-size: 23px;
        outline: 0;
        color: #727272;
        cursor: pointer;
      }
    }
  }

  .productCard {
    @include mobile {
      min-width: 80% !important;
    }

    &__skuSelector-wrapper {
      top: 0px;
      margin: 0;
      width: 100%;
    }

    &__withoutstock--visible {
      display: none;
    }

    &__skuSelector {
      &-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
      }

      &__quantity {
        max-width: 136px;
        width: 100%;
        margin-right: 8px;
      }

      &__buy {
        background: #11b97c;
        padding: 4px 7px;
        height: 61px;
        display: inline-block;
        max-width: 210px;
        width: 100%;

        position: relative;

        @include mobile {
          max-width: 100%;
        }

        button {
          background: #11b97c;
          border: none;
          height: 100%;
          color: #fff;
          width: 100%;
          text-transform: uppercase;
          text-align: left;
          font-size: 11px;
          padding-left: 10px;

          @include mobile {
            font-size: 11px;
          }
        }
      }

      &__quantityController {
        display: flex;
        align-items: center;
        width: 100%;
        height: 61px;
        max-width: 142px;
        border: 1px solid #cccccc;
        margin-right: 2rem;
        justify-content: center;

        .quantityController-skuSelector__btn {
          width: 100%;
          max-width: 41px;
          height: 42px;
          border: none;
          background-color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-transition: 0.1s;
          transition: 0.1s;
          font-size: 23px;
          outline: 0;
          color: #727272;
          cursor: pointer;
        }
      }
    }
  }

  .variation {
    &__combo {
      &-list {
        flex-direction: column;

        svg {
          display: none !important;
        }
      }
    }
  }

  .invalid_combination {
    display: none !important;
  }

  .productPage__variations {
    padding: 0 1rem;
    height: 150px;

    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }

  .sku-selector__close-btn {
    max-width: 20px;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-family: Montserrat, sans-serif;
    color: #000;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;

    &:hover {
      color: $primary-color;
    }
  }

  .variation {
    &__option {
      width: 100%;
      height: 42px;
      border: 2px solid #eeeeee;
      background-color: #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;

      &__wrapper:not(:last-child) {
        margin-top: 0.5rem;
      }

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }

    &__option--color {
      border: 0;
    }

    &__option:not(:last-child) {
      margin-right: 0.5rem;
    }

    &__color-thumb {
      pointer-events: none;
    }

    &__wrapper {
      height: 100%;
      display: flex;
      flex-wrap: wrap;

      &--cor {
        .variation__option {
          border: 0;
          margin-bottom: 0.5rem;
        }
      }
    }

    &__wrapper[data-input-type='Radio'] {
      &::before {
        content: attr(data-variation-type);
        width: 100%;
        margin-bottom: 0.5rem;
        font-family: Montserrat;
        font-weight: 500;

        display: flex;
      }
    }

    &__color-thumb {
      max-width: 40px;
      height: 40px;
      width: 100%;
      object-fit: cover;
    }
  }

  .option-selected {
    border: 2px solid $primary-color !important;
    background-color: #ffffff;
    color: $primary-color;
    font-weight: 500;
    line-height: 24.71px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }

  .skuselector-aviseme,
  .productPage__avise-me {
    display: flex;
    flex-direction: column;
    width: unset;

    color: #005aa4;
    font-size: 24px;
    font-weight: 700;

    padding-top: 10px;
    margin-bottom: 10px;
  }

  .skuselector__avise-me-text {
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0;
  }

  .skuselector__avise-me-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #f3f3f3;
    margin-bottom: 5px;

    outline: 0;
  }

  .skuselector__avise-me-btn {
    background: url(https://frncomunicacao.vteximg.com.br/arquivos/btn-avise-me.png)
      no-repeat center #333;
    float: right;
    font-size: 0;
    margin: 10px 0 0;
    padding: 20px 10px;
    width: 100%;
    outline: 0;
    border: 0;

    cursor: pointer;
  }

  .variation__wrapper {
    width: 100%;
  }

  // Combo

  .variation__combo-list {
    display: none !important;
  }

  .variation__combo-list--visible {
    display: flex !important;
    flex-direction: column;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .variation__combo-list {
    height: auto;
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    box-shadow: none;

    .variation__option {
      width: 100%;

      text-transform: uppercase;
    }
  }

  .variation__wrapper--cor[data-input-type='Radio'] {
    margin-bottom: 0.5rem;

    label {
      border: 2px solid #eee;
      font-weight: 500;
      line-height: 24.71px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      max-width: 100px;
      font-size: 13px;
    }
  }

  .variation__combo-default {
    width: 100%;
    height: 48px;
    border: 2px solid #eeeeee;
    background-color: #ffffff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;

    outline: 0;
    text-transform: uppercase;
    font-weight: 500;

    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 0;
    color: #727272;
    font-size: 13px;
    text-transform: capitalize;

    &:hover {
      opacity: 0.8;
    }

    &:after {
      content: '\f067';
      display: block;
      margin-left: auto;
      font-family: 'Font Awesome 5 Free';
      margin-top: 2px;
      font-weight: 900;
      color: #727272ab;
    }
  }

  .variation__combo-wrapper {
    margin-right: 1rem;
    width: 100%;
  }

  .quantityController {
    &__btn {
      width: 100%;
      max-width: 41px;
      height: 42px;
      border: 2px solid #eee;
      background-color: #fff;
      display: flex;

      align-items: center;
      justify-content: center;
      transition: 0.1s;

      outline: 0;
      cursor: pointer;

      &:hover {
        border-color: $primary-color;
      }
    }

    &__counter {
      color: $primary-color;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      width: 45px;
      padding: 0;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.control-group {
  position: absolute;
  top: 20px;
  right: 10px;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 31px;
  margin-bottom: 5px;
  padding-top: 0px;
  cursor: pointer;
  font-size: 14px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 23px;
  width: 23px;
  background: #27c98e;
  border: 0px solid #000000;
  border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #25cc8f;
}

.control input:checked ~ .control_indicator {
  background: #25cc8f;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}
