@import '../../base/variables';
@import '../../utils/mixins';
.bread-crumb {

  ul {
    display: flex;
    padding: 0;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 0.5rem;

    li {
      height: 100%;
      max-height: 18px;

      
      &:first-child {
        a {
          font-size: 0px;
          span {
            font-size: 0px;
          }
          &::before{
            content: "Loja Piticas";
            font-size: 12px;
            color: #7a706d;
          }
        }
      }
      
      &:after {
        content: '>';
        display: inline-block;
        margin: 0 4px;
        font-size: 10px;
        color: #7a706d;
      }

      &:last-child {
        &::after {
          display: none;
        }
        a span {
          color: #000;
          font-weight: bold;
        }
      }

      list-style: none;
      a {
        text-decoration: none;
        align-items: flex-end;
        color: #666666;
        font-size: 12px;
        font-weight: normal;
        span {
          color: #666666;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }
}

.breadCrumb__container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: {
    top: 20px;
    left: auto;
    right: auto;
  }
  border-bottom: 1px solid #cfcfcf;
  height: 40px;
  @include mobile {
    display: none;
  }
}

.productName {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;

  display: flex;
  align-items: flex-end;
  height: 18px;
  &:after {
    content: '' !important;
  }
}
