body {
  // overflow: hidden !important;
}

.js-image-zoom {
  cursor: zoom-in;
}

.js-modal-zoom {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);

  &--on {
    margin: 0 !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
  }

  &__img {
    cursor: zoom-out;
  }

  &--on:active {
    cursor: grabbing !important;
  }
}

.swal2-image {
  max-height: 80vh !important;
  cursor: zoom-in;
}

.js-modal-zoom__img {
  display: block;
  width: 80vw;
  height: 80vh;
  transition: 0.2s;
  -ms-transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
}

.zoom .swal2-popup {
  padding: 0 !important;
}

.zoom .swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.8) !important;
  overflow: hidden !important;
}

.zoom__carousel {
  width: 80vw;
  height: 80vh;
  -ms-transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
}

.zoom .swal2-popup {
  padding: 0 !important;
}

.zoom .swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.8) !important;
  overflow: hidden !important;
}

.zoom__carousel {
  width: 80vw;
  height: 80vh;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;

  li {
    list-style: none;
  }

  .slick-dots {
    margin-bottom: 1rem;
  }
}

.zoom {
  .slick-initialized {
    padding: 0;
    margin: 0;
  }
}
