$clr_thumb: yellowgreen;
$clr_thumb_dragged: tomato;
$clr_selection: tomato;
$clr_track: #444;
$clr_text: #444;
$clr_input_border: #999;
$clr_input_border_focus: $clr_thumb;
$triangle_width: 10px;
$triangle_height: 15px;
$track_height: 2px;
$fnt_size_values: 18px;

#app {
  margin: 10vh auto;
  max-width: 400px;
  color: $clr_text;
}

.range-slider {
  width: 240px;
  padding: 1em;
  background: rgba(#eee, 0.7);
  border-radius: 7px;
  box-shadow: 1px 1px 6px rgba(#000, 0.5);
}

.values-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.7em;
  font-family: Calibri, Arial;
  font-size: $fnt_size_values;
}

.value {
  font-size: 14px;
  width: 3em;
  border: 1px solid $clr_input_border;
  text-align: center;

  &:focus {
    outline: none;
    border-color: $clr_input_border_focus;
    box-shadow: 0 0 2px $clr_input_border_focus;
  }
}

.track {
  position: relative;
  width: inherit;
  height: $track_height;
  background: $clr_track;
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;

  &::after {
    position: absolute;
    content: '';
    border-style: solid;
    border-width: $triangle_height;
    border-left-width: $triangle_width;
    border-right-width: $triangle_width;
  }
}

.thumb-min::after {
  border-top: none;
  border-color: transparent transparent $clr_thumb transparent;
  transform: translate(-50%, $track_height);
}

.thumb-max::after {
  border-bottom: none;
  border-color: $clr_thumb transparent transparent transparent;
  transform: translate(-50%, -100%);
}

.selection {
  position: absolute;
  width: unset;
  height: $track_height;
  background: $clr_selection;
  box-shadow: 0 0 10px rgba($clr_selection, 0.5);
}

.text {
  display: initial;
  margin-bottom: 0.5em;
}

.thumb-max.active::after {
  border-color: $clr_thumb_dragged transparent transparent transparent;
}

.thumb-min.active::after {
  border-color: transparent transparent $clr_thumb_dragged transparent;
}
